@model  StorePhone.Data.Models.Phone
    <div class="col-lg-3 item ">
        <div class="divImg"><img src="@Model.img" alt="@Model.name" class="imgItem" /></div>
        <br />        
        <h2 class="nameItem">@Html.ActionLink(@Model.name, "Detail", "Phone", new { phoneID = @Model.id })</h2>
        <p>@Model.shortDescription</p>
        <p>
            Цена: @Model.price.ToString("c")
            @Html.ActionLink("Подробнее", "Detail", "Phone", new { phoneID = @Model.id }, new { @class = "btn btn-warning moreInformation" })            
        </p>
        <p><a class="btn btn-warning moreInformation addItem" asp-controller="StoreCart" asp-action="addToCart" asp-route-idPhone="@Model.id" asp-route-nameUser="@User.Identity.Name">+</a></p>
    </div>