@model StorePhone.Data.Models.Phone

    <div class="container marketing itemDetail">        
        <table>
            <tr>
                <td>
                    <div class=" detailImg"><img src="@Model.img" alt="@Model.name" class="imgItem" /></div>
                    <div class="description">
                </td>
                <td>
                    <div class="description">
                        <h2 class="nameItem">@Model.name</h2>
                        <p></p>
                        <p></p>
                        <p>Описание: @Model.longDescription</p>
                        <p>@Model.shortDescription</p>
                        <p>Цена: @Model.price.ToString("c")</p>
                        <p><a class="btn btn-warning detailBut" asp-controller="StoreCart" asp-action="addToCart" asp-route-idPhone="@Model.id" asp-route-nameUser="@User.Identity.Name">Добавить в корзину</a></p>
                    </div>
                </td>
            </tr>
        </table>
    </div>


